name: compile_ubuntu

on: [push]

env:
  BUILD_TYPE: Release

permissions:
  contents: read

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git
        uses: actions/checkout@v3
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request then we can checkout the head.
          fetch-depth: 15
      - name: Install packages
        run: |
             sudo apt-get update
             sudo apt-get install appstream-util cmake desktop-file-utils doxygen gettext gnuplot gnuplot-x11 graphviz libwxgtk3.0-gtk3-dev libwxgtk-webview3.0-gtk3-dev xvfb at-spi2-core g++-mingw-w64-x86-64 cmake nsis wine automake texlive texlive-plain-generic texlive-xetex rsync p7zip-full g++ gettext python3 tcl pandoc po4a git build-essential
             echo 1|update-alternatives --config x86_64-w64-mingw32-g++
             echo 1|update-alternatives --config x86_64-w64-mingw32-gcc
      - name: Checkout maxima
        run: |
             git clone git://git.code.sf.net/p/maxima/code maxima-code
      - name: Nightly build
        run: |
             ./nightlybuild.sh
